/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  z-index: -1;
  transform: rotate(15deg);
  animation: rotation 20s 0s reverse infinite linear;
}
